.btn-group {
  text-align: center;
}

.btn-group button {
  margin: auto;
  margin-top: 10px;
  display: block;
  padding: 10px 20px;
}

.exportButton {
  width: 160px;
  height: 120px;
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/nyan_cat.gif');
  background-size: 160px 120px;
  cursor: pointer;
  font-weight: bold;
}

.exportText {
  position: relative;
  top: 40px;
  color: pink;
}

.exportList {
  text-align: left;
  list-style-type: none;
  display: inline-block;
}